/* Hoja de estilos para el componente Countdown */
/* Sirven para la animación del circulo que se va vaciando segun pasa el tiempo */


/* Parte del circulo */
.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Parte del numero interior */
.number {
    font-size: 16px;
}