/* Hoja de estilos para el componente Countdown */

/* Parte del circulo */
.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Parte del numero interior */
.number {
    font-size: 30px;
}
